
<script src="~/Scripts/core.js"></script>

<h4>Select a Category</h4>
<br/>


@*<dev class="tainer" onclick="onClickMain('Paint_product')">
        <img src="~/images/ico_paint.jpg" class="ext-ico" />
        <p class="ext">Paint</p>
</dev>*@

@*<dev class="tainer" onclick="onClickMain('Millwork_product')">
        <img src="~/images/ico_millwork.jpg" class="ext-ico" />
        <p class="ext">Millwork</p>
</dev>*@

<dev class="tainer" onclick="onClickMain('Tiles_product')">
@*    <a href="@Url.Action("Tiles", "Product", null)">*@
        <img src="~/images/ico_tiles.jpg" class="ext-ico" />
        <p class="ext">Tiles</p>
  @*  </a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Flooring_product')">
    @*<a href="@Url.Action("Flooring", "Product", null)">*@
        <img src="~/images/ico_flooring.jpg" class="ext-ico" />
        <p class="ext">Flooring</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Lighting_product')">
    @*<a href="@Url.Action("Lighting", "Product", null)">*@
        <img src="~/images/ico_lighting.jpg" class="ext-ico" />
        <p class="ext">Lighting</p>
    @*</a>*@
</dev>

@*<dev class="tainer" onclick="onClickMain('Door_product')">
        <img src="~/images/ico_door.jpg" class="ext-ico" />
        <p class="ext">Trim/Door</p>
</dev>*@

<dev class="tainer" onclick="onClickMain('Plumbing_product')">
    @*<a href="@Url.Action("Plumbing", "Product", null)">*@
        <img src="~/images/ico_plumbing.jpg" class="ext-ico" />
        <p class="ext">Plumbing</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Appliances_product')">
    @*<a href="@Url.Action("Appliances", "Product", null)">*@
        <img src="~/images/ico_appliances.jpg" class="ext-ico" />
        <p class="ext">Appliances</p>
    @*</a>*@
</dev>

@*<br/>
<img id="animatedgif" src="~/Images/loadingAnimation.gif" />*@

<div id="subCategory"></div>


@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
