@model IEnumerable<_3MA.Controllers.ProductBase>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-center center-vertical">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td rowspan="2">
            @*<img src="@Html.DisplayFor(Image => item.Image)" style="width:auto; height:300px; border-radius: 5px;" />*@
            @if (item.Image == "")
            {
                <div style="height:200px; text-align:center; vertical-align:bottom;">
                    <img src="~/images/warning.png" alt="Can't locate image'" style="width:auto; height:auto; border-radius: 5px; transform:translateY(50%);" />
                    <p style="color:darksalmon;transform:translateY(90%);">Error - broken image link. Please contact the admin for help.</p>
                </div>
            }
            else
            {
                <img src=@item.Image alt="I fail" style="width:auto; height:200px; border-radius: 5px;" />
            }
        </td>
        <td style="vertical-align:middle;">
            <b>Main category</b><br/>
            @Html.DisplayFor(modelItem => item.MainCategory)
        </td>
        <td style="vertical-align:middle;">
            <b>Sub category</b><br />
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td style="vertical-align:middle;">
            @Html.DisplayFor(modelItem => item.MFG_SKU)
        </td>
        <td style="vertical-align:middle;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td colspan="2" style="vertical-align:middle;">
            <div class="success">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </div>
            <div class="btn">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </div>
            <div class="btn-default">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </td>
    </tr>
    <tr>
        <td style="border-top: none; vertical-align:middle;">
            <a href=@item.Specs target="_blank">View Specs</a>
        </td>
        <td style="border-top: none;  vertical-align:middle;">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="border-top: none; vertical-align:middle;">
            <b>Collection</b><br />
            @Html.DisplayFor(modelItem => item.Collection)
        </td>
        <td style="border-top: none; vertical-align:middle;">
            <b>Finish</b><br />
            @Html.DisplayFor(modelItem => item.Finish)
        </td>
        <td style="border-top: none; vertical-align:middle;">
            <b>Price</b><br />
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td style="border-top: none; vertical-align:middle;">
            <b>Price Category</b><br />
            <b>@Html.DisplayFor(modelItem => item.PriceCategory)</b>
        </td>
    </tr>
}

</table>
