
<script src="~/Scripts/partials.js"></script>

<h4>Select a Category</h4>
<br/>


<dev class="tainer" onclick="onClickMain('Paint')">
    @*<a href="@Url.Action("Paint", "Product", null)">*@
        <img src="~/images/ico_paint.jpg" class="ext-ico" />
        <p class="ext">Paint</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Millwork')">
    @*<a href="@Url.Action("Millwork", "Product", null)">*@
        <img src="~/images/ico_millwork.jpg" class="ext-ico" />
        <p class="ext">Millwork</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Tiles')">
@*    <a href="@Url.Action("Tiles", "Product", null)">*@
        <img src="~/images/ico_tiles.jpg" class="ext-ico" />
        <p class="ext">Tiles</p>
  @*  </a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Flooring')">
    @*<a href="@Url.Action("Flooring", "Product", null)">*@
        <img src="~/images/ico_flooring.jpg" class="ext-ico" />
        <p class="ext">Flooring</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Lighting')">
    @*<a href="@Url.Action("Lighting", "Product", null)">*@
        <img src="~/images/ico_lighting.jpg" class="ext-ico" />
        <p class="ext">Lighting</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Door')">
    @*<a href="@Url.Action("Door", "Product", null)">*@
        <img src="~/images/ico_door.jpg" class="ext-ico" />
        <p class="ext">Trim/Door</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Plumbing')">
    @*<a href="@Url.Action("Plumbing", "Product", null)">*@
        <img src="~/images/ico_plumbing.jpg" class="ext-ico" />
        <p class="ext">Plumbing</p>
    @*</a>*@
</dev>

<dev class="tainer" onclick="onClickMain('Appliances')">
    @*<a href="@Url.Action("Appliances", "Product", null)">*@
        <img src="~/images/ico_appliances.jpg" class="ext-ico" />
        <p class="ext">Appliances</p>
    @*</a>*@
</dev>

@*<br/>
<img id="animatedgif" src="~/Images/loadingAnimation.gif" />*@

<div id="subCategory"></div>


@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
