<br/>

<p>
    @Html.ActionLink("Lighting", "Lighting_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Tiles", "Tiles_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Flooring", "Flooring_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Fixtures", "Fixtures_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Appliances", "Appliances_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Accessories", "Accessories_Main", null, new { @class = "btn btn-primary" })
</p>
