<br/>

<p>
    @Html.ActionLink("Lighting", "Index", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Tiles", "Index", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Flooring", "Flooring_Main", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Fixtures", "Index", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Appliances", "Index", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Accessories", "Index", null, new { @class = "btn btn-primary" })
</p>
