@model _3MA.Controllers.ProductBase
@using _3MA.Controllers

@{
    ViewBag.Title = "Select";

    // Viewbag get the Qty & isSelected from the controller
    var isChecked = (bool)ViewData["isChecked"];
    var qty = (int)ViewData["Qty"];
}
<h3 style="text-align: center;">@Model.getName</h3>

<script src="~/Scripts/core.js"></script>

<hr />

    @*  Left column, includes image, price, dimension, quantity, and order button *@
<div class="col-sm-12 col-md-5 col-lg-4">
    <img src="@Model.Image" alt="Cant't find image" style="height:auto; width:100%; max-height: 350px; max-width: 350px; min-height: 250px; min-width: 250px;" />

    <div style="width: 100%; text-align: right; max-width: 350px;">
        <p style="font-size: 24px; padding-top: 20px; margin-right: 10%;">$<b>@Model.Price.ToString("0.00")</b></p>
        <p style="font-size: 24px; margin-right: 10%;"><b>@Model.getDim</b></p>
    </div>

    <br /><br />
    <img src="~/images/arrow-left-double.png" class="img-border" alt="Left" style="width:auto; height:25px; float:left; margin-right:5px;" onclick="QtyChange(@Model.Id, -10)" />
    <img src="~/images/arrow-left-single.png" class="img-border" alt="Left" style="width:auto; height:25px; float:left; margin-left:5px; margin-right:5px;" onclick="QtyChange(@Model.Id, -1)" />

    <input type="text" id="textQty" name="textQty" style="float: left; max-width: 75px; width:auto; text-align:center" value="@qty"/>

    <img src="~/images/arrow-right-single.png" class="img-border" alt="Right" style="width:auto; height:25px; float:left; margin-left:5px; margin-right:5px;" onclick="QtyChange(@Model.Id, 1)" />
    <img src="~/images/arrow-right-double.png" class="img-border" alt="Right" style="width:auto; height:25px; float:left; margin-left:5px;" onclick="QtyChange(@Model.Id, 10)" />

</div>

@*<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>*@

    @*  Right column, includes product details  *@
<div class="col-sm-12 col-md-7 col-lg-8" style="margin-bottom: 200px;">
    @if(Model.Specs != "")
    {
       <div style="width: 100%;">
           <a href=@Model.Specs target="_blank" class="lookLikeButton" style="position: absolute; right: 5%;">View Specs</a>
       </div>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFG_SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFG_SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerSF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerSF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SqFt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SqFt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RHC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RHC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Core)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Core)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strctr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strctr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fnsh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fnsh)
        </dd>

    </dl>
</div>